* {
	margin: 0;
	padding: 0;
}

#drop-zone {
	width: 300px;
	height: 300px;
}

#with-table {
	display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/background.jpg) no-repeat center center;
    background-size: cover;
    width: 1000px;
    height: 706px;
}