:root {
    --tdColor: #00E640;
    --backgroundSrc: url(../img/common.jpg);
}

* {
	margin: 0;
	padding: 0;
}

#drop-zone {
	width: 300px;
	height: 300px;
    border: 3px dashed #e8e8e8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}

#with-table {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
            background-image: var(--backgroundSrc);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1000px;
    height: 706px;
    overflow: hidden;
}

#quiz-table thead th,
#quiz-table td.number {
    background-color: var(--tdColor);
}

#quiz-table {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
    width: 850px;
}

#quiz-table td {
    text-align: center;
}

#quiz-table td,
#quiz-table th {
    padding: 12px;
    background-color: rgba(196, 196, 196, .2);
    border: 1px solid #c4c4c4;
    white-space: nowrap;
}

.taleft {
    text-align: left !important;
}

#select-file {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

#file {
    margin: 20px auto;
}

button {
    padding: 5px;
    background-color: #26A65B;
    color: #fff;
    border: none;
    -webkit-box-shadow: 2px 2px 2px #26A65B;
            box-shadow: 2px 2px 2px #26A65B;
    cursor: pointer;
}

#settings {
    border: 2px dashed #e8e8e8;
    padding: 10px;
    margin-top: 10px;
}

#page-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

#actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}

#downloadImg {
    margin-top: 10px;
}

#background-settings {
    margin-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
}

#background-settings img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#background-settings img:not(:last-child) {
    margin-right: 15px;
}

#background-settings img.active {
    border: 1px solid #26A65B;
}

#ranks {
    display: none;
    position: absolute;
    left: 200px;
    top: 0;
}

#ranks img {
    width: 50px;
    height: 100px;
}

#ranks-list {
    list-style: none;
}

#ranks-list li {
    cursor: pointer;
    margin-bottom: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}

.rank-selector {
    cursor: pointer;
}

.rank-selector img {
    width: 20px;
}

.rank-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    height: 44px;
}

.grand1-img {
    background-image: url(../img/ranks/grand-1.png);
}

.grand2-img {
    background-image: url(../img/ranks/grand-2.png);
}

.grand3-img {
    background-image: url(../img/ranks/grand-3.png);
}

.master1-img {
    background-image: url(../img/ranks/master-1.png);
}

.master2-img {
    background-image: url(../img/ranks/master-2.png);
}

.master3-img {
    background-image: url(../img/ranks/master-3.png);
}

.magistr-img {
    background-size: 28px;
    background-image: url(../img/ranks/magistr.png);
}

.keeper-img {
    background-size: 40px;
    background-image: url(../img/ranks/keeper.png);
}