:root {
    --tdColor: #00E640;   
}

* {
	margin: 0;
	padding: 0;
}

#drop-zone {
	width: 300px;
	height: 300px;
    border: 3px dashed #e8e8e8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}

#with-table {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../img/background.jpg) no-repeat center center;
    background-size: cover;
    width: 1000px;
    height: 706px;
}

#quiz-table thead th,
#quiz-table td.number {
    background-color: var(--tdColor);
}

#quiz-table {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
    width: 850px;
}

#quiz-table td {
    text-align: center;
}

#quiz-table td,
#quiz-table th {
    padding: 12px;
    background-color: rgba(196, 196, 196, .2);
    border: 1px solid #c4c4c4;
    white-space: nowrap;
}

.taleft {
    text-align: left !important;
}

#select-file {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

#file {
    margin: 20px auto;
}